@font-face {
  font-family: "iconfont"; /* Project id 3119913 */
  src: url('iconfont.woff2?t=1737714106923') format('woff2'),
       url('iconfont.woff?t=1737714106923') format('woff'),
       url('iconfont.ttf?t=1737714106923') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_yes:before {
  content: "\e60f";
}

.icon_shop_cart:before {
  content: "\e639";
}

.icon_target:before {
  content: "\e7df";
}

.icon_animation:before {
  content: "\eaa1";
}

.icon_prefab:before {
  content: "\e60d";
}

.icon_json:before {
  content: "\e7bd";
}

.icon_refresh_one:before {
  content: "\e61d";
}

.icon_music:before {
  content: "\e6cf";
}

.icon_debug:before {
  content: "\e7f1";
}

.icon_view_on:before {
  content: "\e7ab";
}

.icon_view_off:before {
  content: "\e7b1";
}

.icon_cocos:before {
  content: "\e601";
}

.icon_support:before {
  content: "\e60a";
}

.icon_github:before {
  content: "\e67f";
}

.icon_notify:before {
  content: "\e607";
}

.icon_stop:before {
  content: "\e80e";
}

.icon_play:before {
  content: "\e80f";
}

.icon_js:before {
  content: "\e706";
}

.icon_unlink:before {
  content: "\e6ab";
}

.icon_link:before {
  content: "\e8af";
}

.icon_close_small:before {
  content: "\e656";
}

.icon_add:before {
  content: "\e672";
}

.icon_origin:before {
  content: "\e622";
}

.icon_clean:before {
  content: "\e664";
}

.icon_arrow_down:before {
  content: "\e616";
}

.icon_arrow_right:before {
  content: "\e618";
}

.icon_arrow_up:before {
  content: "\e619";
}

.icon_arrow_left:before {
  content: "\e61a";
}

.icon_picture:before {
  content: "\e67c";
}

.icon_place:before {
  content: "\e7e6";
}

.icon_print:before {
  content: "\e620";
}

.icon_settings:before {
  content: "\e615";
}

.icon_text:before {
  content: "\e65c";
}

.icon_node:before {
  content: "\e649";
}

.icon_unknown:before {
  content: "\e626";
}

.icon_font_size:before {
  content: "\e7b9";
}

.icon_up_right_arrow:before {
  content: "\e634";
}

.icon_resize:before {
  content: "\e989";
}

.icon_magic:before {
  content: "\e6d4";
}

.icon_fly:before {
  content: "\ea35";
}

.icon_move:before {
  content: "\e83d";
}

.icon_qq:before {
  content: "\e882";
}

.icon_book:before {
  content: "\e8d1";
}

.icon_cmder:before {
  content: "\e6e4";
}

.icon_close:before {
  content: "\e617";
}

.icon_trash:before {
  content: "\e726";
}

.icon_folder:before {
  content: "\e85e";
}

.icon_doc:before {
  content: "\e6f3";
}

.icon_refresh:before {
  content: "\e600";
}

