@font-face {
  font-family: "iconfont"; /* Project id 3119913 */
  src: url('iconfont.woff2?t=1699531128371') format('woff2'),
       url('iconfont.woff?t=1699531128371') format('woff'),
       url('iconfont.ttf?t=1699531128371') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_qq:before {
  content: "\e882";
}

.icon_book:before {
  content: "\e8d1";
}

.icon_cmder:before {
  content: "\e6e4";
}

.icon_close:before {
  content: "\e617";
}

.icon_trash:before {
  content: "\e726";
}

.icon_folder:before {
  content: "\e85e";
}

.icon_doc:before {
  content: "\e6f3";
}

.icon_refresh:before {
  content: "\e600";
}

